
h2 {
   text-align: center; 
}
.image-style {
    width: 100%;
}
.title {
    font-size: 70%;
}
.p-tag {
    font-size: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.delete-btn {
    background-color: red;
}
.card-style {
    text-align: center;
    word-wrap: break-word;
    border: 10px solid transparent;
    background-image: url("/images/free-vector-watercolor-paper-texture-1.jpg");
    padding: 1%;
    width: 100%;
    border:1px solid #e5e5e5;
    margin-bottom: 20px;
}

.list-wrapper {
    margin: 5% 5%;
}